<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="shoppractice Suite" verbose="2">

    <!-- Register the Extent Report Listener -->
    <listeners>
        <listener class-name="com.shoppractice.listeners.ExtentTestNGListener"/>
    </listeners>

    <test name="shoppractice Tests">
        <classes>
            <class name="com.shoppractice.test.LoginTest"/>
            <class name="com.shoppractice.test.ProductTest"/>
            <class name="com.shoppractice.test.CartTest"/>
            <class name="com.shoppractice.test.OrderTest"/>
        </classes>
    </test>

</suite>